:root {
  --roar-blue: #164176;
  --roar-pink: #fa759e;

  --window-height: 320px;
  --window-width: 500px;
  --window-padding: 10px;
}

html,
body {
  min-height: var(--window-height);
  width: var(--window-width);
  background-color: var(--roar-blue);
  padding: 0;
  margin: 0;
}

#app-container {
  min-height: calc(var(--window-height) - 2 * var(--window-padding));
  min-width: calc(var(--window-width) - 2 * var(--window-padding));
  padding: var(--window-padding);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  min-height: calc(var(--window-height) - 2 * var(--window-padding));
  min-width: calc(var(--window-width) - 2 * var(--window-padding));
  display: flex;
}

.profile-img {
  flex: 0 0 auto;
  align-self: flex-start;
  margin-right: 10px;
}

.twitter-interface {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.DraftEditor-root {
  color: white;
  width: 430px;
  font-size: 18px;
  margin-top: 7px;

  /* limit the editor to 3 lines */
  min-height: 20px;
}

.actions-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.actions {
  display: flex;
}

.actions svg {
  height: 36px;
}

.svg-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.screenshots {
  height: 210px;
  flex: 1 1 auto;
  display: flex;
  margin: 15px 0;
}

.screenshot-thumbnail {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.post-btn {
  height: 36px;
  width: 90px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--roar-pink);
  color: var(--roar-blue);
  border: none;
  border-radius: 50px;
}
