$standard-btn-height: 36px;
$svg-btn-grow: 4px;
$svg-btn-grow-height: $standard-btn-height + $svg-btn-grow;


.action-bar {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;

  > .action-buttons {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    margin-right: auto;
    margin-left: -$svg-btn-grow;
  }

  > input[type='file'] {
    display: none;
  }

  .character-countdown {
    svg.circular-chart {
      height: $standard-btn-height;
      width: $standard-btn-height;
      display: block;
      margin-right: 12px;
      circle {
        fill: none;
        stroke-linecap: round;
        animation: progress 1s ease-out forwards;
        stroke: $human-pink;
        &:not(.progress) {
          opacity: 0.4;
        }
      }
      text {
        font-size: 0.6em;
        text-anchor: middle;
        fill: $human-pink;
      }
      &.warning {
        circle {
          stroke: $human-yellow-warning;
        }
        text {
          fill: $human-yellow-warning;
        }
      }
      @keyframes progress {
        0% {
          stroke-dasharray: 0 100;
        }
      }
    }
  }

  > .post-btn {
    flex-grow: 0;
    height: $standard-btn-height;
    width: 90px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--post-btn-background-color);
    color: var(--post-btn-text-color);
    border-radius: 50px;

    &:disabled {
      opacity: 0.65;
    }
  }
}

.svg-btn-container {
  width: 48px;
  height: $svg-btn-grow-height;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-btn {
  svg {
    height: $standard-btn-height;
    transition: height .3s;
  }

  svg > path:not(.circle-outline) {
    fill: $human-pink;
  }

  svg > path.circle-outline {
    stroke: $human-pink;
  }

  &.Help.on {
    svg > path:not(.circle-outline) {
      fill: var(--background-color);
    }

    svg > path.circle-outline {
      fill: $human-pink;
    }
  }

  &.AddEmoji.off {
    svg > circle {
      fill: none;
    }
  }

  &.AddEmoji.on {
    svg > circle {
      fill: $human-pink;
    }
    svg > path.smile {
      fill: var(--background-color);
    }
  }

  &:disabled {
    svg > path {
      fill: grey;
    }
  }

  &:hover {
    svg {
      height: $svg-btn-grow-height;
    }
  }
}
