.alert {
  position: absolute;
  bottom: 0;
  width: $min-width;
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 20px;

  background-color: $human-yellow-warning-background;
  color: $human-yellow-warning;

  > .close-btn {
    circle {
      fill: transparent;
    }
    path {
      fill: $human-yellow-warning;
    }
  }

}