.DraftEditor-root {
  color: var(--text-color);
  width: 100%;
  font-size: 18px;
  margin-top: 7px;
  min-height: 20px;
  overflow-wrap: break-word;
}

.link-tooltip {
  position: fixed;
  z-index: 9999;

  .link-tooltip__anchor {
    color: var(--twitter-link-text-color);
    fill: var(--twitter-link-text-color);

    position: absolute;
    margin: 0;
    left: 0px;
    right: auto;
    bottom: auto;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 1);
    transform: translate3d(5px, 38px, 0px);
    background-color: var(--twitter-link-background-color);
    box-sizing: border-box;
    border: 1px solid #ddd;

    > .link-tooltip__launch-icon {
      height: 1em;
      width: 1em;
    }
  }
}
