.DraftEditor-root {
  color: var(--text-color);
  width: 100%;
  font-size: 18px;
  margin-top: 7px;
  min-height: 20px;
  overflow-wrap: break-word;
}

.link-tooltip__positioner {
  position: fixed;
}

.tippy-box[data-theme~='tippy-roar'] {
  background-color: var(--twitter-link-background-color);

  .link-tooltip__anchor {
    color: var(--twitter-link-text-color);
    fill: var(--twitter-link-text-color);

    > .link-tooltip__launch-icon {
      height: 1em;
      width: 1em;
    }
  }
}
