@mixin image-grid-item {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--image-border-color);
}

.images {
  height: 250px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  margin: 15px 0;

  .image-spinner {
    @include image-grid-item;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    > .spinner-container {
      height: 36px;
      width: 36px;

      > .spinner {
        @include loader07($size: 13px, $color: $human-blue, $duration: 1s, $align: middle);;
      }
    }
  }

  .image-thumbnail {
    position: relative;
    overflow: hidden;
    padding: 2px;

    > .image-image {
      @include image-grid-item;
      object-fit: cover;
      cursor: pointer;
    }

    > .close-btn {
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
      background: none;

      opacity: 0.7;
      circle {
        fill: black
      };
      path {
        fill: white;
      }
    }

    $expand-btn-radius: 22px;

    > .expand-btn {
      display: none;

      position: absolute;
      height: 2 * $expand-btn-radius;
      width: 2 * $expand-btn-radius;
      left: calc(50% - #{$expand-btn-radius});
      top: calc(50% - #{$expand-btn-radius});
      border-radius: $expand-btn-radius;

      background-color: black;
      opacity: 0.7;

      svg {
        height: 36px;
        path {
          fill: white;
        }
      }
    }

    > .edit-btn {
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: black;
      color: white;
      opacity: 0.7;
      padding: 6px 18px;
      border-radius: 10px;
      text-align: center;
    }

    // On image hovering, display the edit button
    .image-image:hover ~ .edit-btn,
    .image-image:hover ~ .close-btn,
    .image-image:hover ~ .expand-btn,
    .edit-btn:hover,
    .close-btn:hover,
    .expand-btn:hover {
      display: inline-block;
    }
  }
}
