svg.roar-logo {
  height: 64px;

  path.mouth {
    fill: $human-blue;
  }
  path.tongue {
    fill: $human-pink;
  }
}

svg.mhi-with-text-logo {
  circle.top-right, path.more, path.internet {
    fill: $human-blue;
  }
  circle.bottom-left, path.human {
    fill: $human-pink;
  }
}

.built-with-love {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;

  p {
    text-align: center;
    color: $human-blue;
    font-family: 'Roboto', sans-serif;
  }
  svg.heart {
    height: 12px;
    position: relative;
    padding: 1px;
    top: 2px;
  }

  svg.mhi-with-text-logo {
    height: 32px;
    margin-left: 8px;
    margin-top: 4px;
  }
}

svg.heart {
  fill: $human-pink;
}