.not-authed {
  min-height: 380px;
  min-width: 476px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;

  .sign-in-btn {
    border-radius: 25px;
    background-color: var(--twitter-button-background-color);
    color: var(--twitter-button-text-color);
    padding: 6px 16px 6px 6px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  p {
    text-align: center;
  }

  p {
    text-align: center;
  }

  p,
  a {
    color: $human-pink;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }

  svg.twitter-logo {
    padding: 3px;
    height: 25px;

    path {
      fill: var(--twitter-button-text-color);
    }
  }
}
